parameters:
	ignoreErrors:
		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with 4 and 4 will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Consumer/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with 4 and 4 will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Consumer/CacheTest.php
